{% extends 'base.html' %}

{% block content %}

<h1>Home</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id minus hic cumque corrupti tempore dicta nisi provident, tempora nemo nobis sunt quae amet porro eligendi perferendis consequatur magnam saepe iste. Quod, modi illo facere totam earum pariatur mollitia similique assumenda voluptas soluta maiores quasi ut nihil, dolores molestias, temporibus aperiam repellat? Earum pariatur possimus, repellat soluta aspernatur odit eligendi a suscipit facilis ut commodi exercitationem, quibusdam, debitis dolores tempora iusto ratione maiores ab. Natus quaerat, officiis enim impedit sit doloribus, quia in mollitia ratione aspernatur exercitationem possimus modi iusto necessitatibus pariatur corporis soluta consequuntur blanditiis recusandae omnis similique fugit rerum.</p>

{% endblock %}